
label {
  font-weight: bold;
}
button {
  background-color: yellowgreen;
  color: #fff;
  text-shadow: 0 0 3px yellow, 0 0 5px lightgreen; 
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; 
}

button:hover {
  background-color: #004369; 
}

button:active{
  background-color: black;
  transition: none;
}